html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	font-family: "robotoregular";
}

.wrapper{
	position: relative;
	overflow: hidden;
	min-height: 100%;
	background: url('../images/bg/pat_dz-nach-transp.png') 0 0 repeat #132F10;
	min-width: 1255px;
}

.container{
	margin: 0 auto;
	width: 1105px;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a:hover{
	text-decoration: none;
}

.clearfix:after, .clearfix:before{
	content: "";
	display: table;
}

.clearfix:after{
	clear: both;
}

p{
	margin: 0;
}

.empty{
	height: 60px;
}

/*HEADER*/
.header{
	background: #fff;
	box-shadow: 0 2px 5px 0px rgba(51, 51, 51, .96);
	-webkit-box-shadow: 0 2px 5px 0px rgba(51, 51, 51, .96);
	-moz-box-shadow: 0 2px 5px 0px rgba(51, 51, 51, .96);
	margin-bottom: 65px;
}

.header .container{
	position: relative;
	height: 100px;
}

.user{
	position: absolute;
	top: 17px;
	left: 0;
}

.user-pic{
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	background: url(../images/photo/me-small.jpg) 100% 100% no-repeat;
	background-size: cover;
}

.user-name{
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	line-height: 26px;
	color: #727272;
}

.user-mail{
	position: absolute;
	right: 0;
	top: 40px;
	font-size: 24px;
	line-height: 26px;
	color: #727272;
}

/*MAIN CONTENT*/

.main-content{
	margin-bottom: 70px;
}

.main-wrapper{
	position: relative;
}

.career{
	box-shadow: 0 0 3px 0 rgba(51, 51, 51, .96);
	-webkit-box-shadow: 0 0 3px 0 rgba(51, 51, 51, .96);
	-moz-box-shadow: 0 0 3px 0 rgba(51, 51, 51, .96);
	position: relative;
}

.my-blog{
	height: 50px;
	width: 260px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: #5db0bf;
	display: block;
	text-decoration: none;
	position: absolute;
	top: 100%;
	left: 60px;
	box-shadow: 0 1px 3px 0 rgba(51, 51, 51, .96);
	-webkit-box-shadow: 0 1px 3px 0 rgba(51, 51, 51, .96);
	-moz-box-shadow: 0 1px 3px 0 rgba(51, 51, 51, .96);
}

.my-blog:hover {
  background-color: #4f98a5;
}

.socials{
	position: absolute;
	top: 120px;
	left: 100%;
	width: 65px;
	background: #fafafa;
	text-align: center;
	padding: 20px 0;
	box-shadow: 1px 0 3px 0 rgba(51, 51, 51, 0.96);
	-webkit-box-shadow: 1px 0 3px 0 rgba(51, 51, 51, 0.96);
	-moz-box-shadow: 1px 0 3px 0 rgba(51, 51, 51, 0.96);
}

.socials-item{
	margin-top: 40px;
}

.socials-item:first-child{
	margin-top: 0;
}

.socials-link{
	width: 40px;
	height: 30px;
	display: inline-block;
}
/*MENU*/
.pages{
	height: 60px;
	background: #fafafa;
}

.career-pages-list{
	border-right: 1px solid #ebe9e9;
	display: inline-block;
}

.career-pages-item{
	float: left;
	position: relative;
}

.career-pages-item.active:after{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
	background: #fff;
}

.career-pages-item.active .pages-link{
	background-color: #fff;
}

.pages-link{
	line-height: 60px;
	display: inline-block;
	font-size: 18px;
	color: #727272;
	padding-left: 40px;
	padding-right: 40px;
	text-decoration: none;
}

.pages-link:hover{
	text-decoration: underline;
}

.pages-icon{
	margin-right: 15px;
}

/*CONTENT*/
.career-content-inner{
	background: #fff;
}

.career-title{
	color: #727272;
	font-size: 30px;
	padding-left: 35px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.career-scroll{
	position: relative;
	width: 1000px;
	height: 340px;
	overflow: auto;
	padding-top: 45px;
	padding-bottom: 45px;
}

.career-list{
	margin-left: 35px;
	position: relative;
}

.career-list:before{
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #ebe9e9;
}

.career-item{
	padding-left: 140px;
	margin-bottom: 20px;
	width: 685px;
	position: relative;
}

.career-item-content:hover{
	background: #fafafa;
}

.career-drop{
	position: absolute;
	top: 50%;
	margin-top: -85px;
	box-shadow: 0 2px 5px 0 #333;
	right: auto;
	left: -9999px;
}

.career-drop-triangle{
	width: 16px;
	height: 16px;
	box-shadow: 0 2px 5px 0 #333;
	background: #ebe9e9;
	transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: -8px;
}

.career-drop-pic{
	width: 230px;
	height: 169px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 100;
}

.career-item:hover .career-drop{
	right: -110px;
	left: auto;
}

.career-text{
	display: inline-block;
	vertical-align: middle;
}

.career-item-date{
	display: inline-block;
	color: #727272;
}

.career-item-title{
	font-size: 24px;
	line-height: 26px;
	color: #727272;
}

.career-item-content{
	position: relative;
}

.career-item-year{
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -10px;
	margin-right: 71px;
	white-space: nowrap;
}

.career-item-year:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	border: 3px solid #5db0bf;
	background: #ebe9e9;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.career-year-num{
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	color: #5db0bf;
}

.career-item-content{
	padding: 26px 15px 20px;
	border: 2px solid #ebe9e9;
}


/*End of MAIN CONTENT*/

/*FOOTER*/

.footer{
	height: 60px;
	margin-top: -60px;
	background: #fff;
	position: relative;
	min-width: 1255px;
	box-shadow: 0 -2px 5px 0 rgba(51, 51, 51, 0.96);
	-webkit-box-shadow: 0 -2px 5px 0 rgba(51, 51, 51, 0.96);
	-moz-box-shadow: 0 -2px 5px 0 rgba(51, 51, 51, 0.96);
}

.footer .container{
	height: 60px;
	position: relative;
}

.logo{
	position: absolute;
	left: 0;
	top: 10px;
	display: block;
}

.logo-text{
	position: absolute;
	top: 0;
	left: -9999px;
}

.projects{
	position: absolute;
	top:25px;
	right: 0;
}

.projects-item{
	display: inline-block;
	margin-right: 30px;
}

.projects-link{
	color: #404040;
	font-size: 18px;
	line-height: 20px;
}
/*End of FOOTER*/